.dashboard-data{
  border: 2px solid teal;
  margin-top: 1px;
  padding: 2px;
}

.employees-list-detail > span > .glyphicon {
  font-size: 12px;
  color: brown;
}

.customers-list-detail > span > .glyphicon {
  font-size: 12px;
  color: brown;
}

.container-fluid {
  font-family: "Antipasto";
}

.employees-list-detail, .customers-list-detail {
  background: wheat;
  color: black;
  font-weight: 600;
  border: 2px solid #f9f9f9;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif
}

.glyphicon-chevron-down:hover {
  cursor: pointer;
}

.employees-list-detail:hover, .customers-list-detail:hover {
  background: slategray;
  color: whitesmoke;
  cursor: pointer;
}

.payables-data {
  background: wheat;
  padding: 5px;
  margin-bottom: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.transactions-list-data {
  background: saddlebrown;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
}

#employee-search-a-div , #employee-search-ca-div, #customers-div{
  width: 60%;
  height: 110px;
  overflow-y: hidden;
}

#employee-search-a-div:hover, #employee-search-ca-div:hover, #customers-div:hover{
  overflow-y: auto;
}

#employees-list, #customers-list {
  height: 500px;
  overflow-y: hidden;
}

#employees-list:hover, #customers-list:hover {
  overflow-y: auto;
}

.employee-search-data, .customer-search-data {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  font-size: 16px;
  font-family: "Antipasto";
  margin-bottom: 5px;
  border-radius: 2px;
  background: wheat;
}

.employee-search-data:hover, .customer-search-data:hover {
  background: tomato;
  cursor: pointer;
}

.table-data {
  text-align: center;
  font-family: "Antipasto";
  font-size: 15px;
}

.input-text {
  width: 70px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif
}

li:hover{
  background: burlywood;
}

/* li:hover > a {
  color: tomato;
} */

label {
  font-family: "Antipasto";
  font-size: 15px;
}

.row {
  margin: 5px;
}

.customer-info, .employee-info {
  padding: 10px;
  background: whitesmoke;
  border: 1px solid silver;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.customer-info:hover, .employee-info:hover{
  background: wheat
}

#customer-overview:hover, #employee-overview:hover  {
  overflow-y: scroll;
}

#customer-overview, #employee-overview {
  height: 600px;
  overflow-y: hidden;
}

.icon {
  width: 55px;
  height: 55px;
  float: left;
}

.customer-details, .employee-details {
  float: right;
}

.header {
  font-family: "Antipasto";
  background: tomato;
  color: white;
  height: 40px;
  padding: 10px;
  font-size: 15px;
}

#status {
  background: tomato;
  padding: 5px;
  font-weight: bold;
}

.infos {
  background: wheat;
  padding: 5px;
}

@font-face {
  font-family: "Antipasto";
  src: url("fonts/Antipasto-RegularTrial.ttf");
}
/* 
.container {
  background: wheat;
} */


